<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fonts.css') }}">

</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
    {% block javascript %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
