<nav id="bottom-nav">
    <a href="https://www.linkedin.com/in/marek-schir-95229684/" target="_blank">
        <img class="icon-gray" src="{{url_for('static', filename='img/icons/linkedin.svg') }}" alt="linkedin">
    </a>
    <a href="https://github.com/schir2">
        <img class="icon-gray" src="{{ url_for('static', filename='img/icons/github.svg') }}" alt="github">
    </a>
    <a href="https://www.facebook.com/mschir">
        <img class="icon-gray" src="{{ url_for('static', filename='img/icons/facebook.svg') }}" alt="facebook">
    </a>
</nav>