:root{
    --deep-green: #86E3CE;
    --light-green: #D0E6A5;
    --yellow: #FFDD94;
    --red: #FA897B;
    --purple: #CCABD8;
}

*{
    font-family: 'Calibri', sans-serif;
}

.logo{
    height: 4em;
}

.icon {
    height:2em;
    padding-left:.5em;
    padding-right:.5em;
    filter:drop-shadow(-1px 1px 1px rgba(10,10,10,.5));
}

body {
    background:url("/static/img/bg/butterfly/butterfly_2560.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3 {
    text-align: center;}

a {text-decoration: None;}

nav {
    display:flex;
    align-items: center;
}
header > nav {
    font-size:1.2em;
    justify-content: center;
    margin-top:.5em;
    margin-bottom: .5em;
    padding-bottom: .5em;
}
header > nav > a {
    font-size: 1.25em;
    color:#333333;
    padding-left:.6em;
    padding-right:.6em;
    margin-left:.5em;
    margin-right:.5em;
    border-radius: 0;
    transition: color 1s, border-color 2s, border-radius 1s;
}

header > nav > a:hover{
    color:#222222;

}

header > nav > a:active{
}

footer > nav{
    justify-content: center;
}

main {
    display:grid;
    justify-content: center;
}